In [77]:
from operator import index
import pandas as pd
df = pd.read_csv("wage_data.csv",index_col=False )

In [78]:
df['AREAnnual_TITLE'] = df['AREAnnual_TITLE'].str.split(',').str[0]

In [79]:
df

,AREAnnual_TITLE,PRIM_STATE,OWN_CODE,OCC_CODE,OCC_TITLE,Occup_Level,Total_EMP,LOC_QUOTIENT,Mean_Hourly_wage,Mean_Annual_wage,Hourly_PCT10,Hourly_PCT25,Hourly_MEDIAN,Hourly_PCT75,Hourly_PCT90,Annual_PCT10,Annual_PCT25,Annual_MEDIAN,Annual_PCT75,Annual_PCT90
0,Abilene,TX,1235,00-0000,All Occupations,total,"68,490",1.00,21.40,"44,500",9.99,12.20,17.40,24.28,36.83,"20,770","25,380","36,180","50,490","76,600"
1,Abilene,TX,1235,11-0000,Management Occupations,major,"3,930",0.91,43.04,"89,520",17.84,26.26,37.06,51.40,74.96,"37,110","54,620","77,080","106,910","155,920"
2,Abilene,TX,1235,11-1021,General and Operations Managers,detailed,"1,950",1.34,40.59,"84,420",14.38,22.08,35.71,48.98,74.66,"29,900","45,930","74,270","101,870","155,290"
3,Abilene,TX,1235,11-2021,Marketing Managers,detailed,40,0.33,58.32,"121,300",28.50,37.06,53.41,82.78,82.78,"59,280","77,080","111,080","172,180","172,180"
4,Abilene,TX,1235,11-2022,Sales Managers,detailed,170,0.75,47.17,"98,110",22.43,29.40,41.75,55.71,78.28,"46,650","61,150","86,830","115,870","162,820"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147183,Worcester,MA,1235,53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,"4,530",0.87,18.32,"38,100",14.37,14.60,17.59,18.59,23.02,"29,880","30,370","36,590","38,670","47,880"
147184,Worcester,MA,1235,53-7063,Machine Feeders and Offbearers,detailed,400,3.46,19.52,"40,600",14.77,17.59,18.41,22.22,22.27,"30,720","36,590","38,280","46,210","46,320"
147185,Worcester,MA,1235,53-7064,"Packers and Packagers, Hand",detailed,"1,430",1.28,15.87,"33,000",13.56,14.24,14.60,17.05,18.30,"28,190","29,620","30,370","35,450","38,070"
147186,Worcester,MA,1235,53-7065,Stockers and Order Fillers,detailed,"5,390",1.15,17.18,"35,730",14.07,14.48,17.00,18.10,22.76,"29,260","30,120","35,350","37,650","47,350"
147187,Worcester,MA,1235,53-7081,Refuse and Recyclable Material Collectors,detailed,100,0.43,20.50,"42,640",14.71,17.47,18.81,22.55,28.39,"30,590","36,340","39,130","46,910","59,050"

In [86]:
df.rename(columns={'PRIM_STATE':'State'}, inplace=True)

In [88]:
df.to_csv('cln_wages.csv', index=False)